<%- include('includes/head'); %>
<%- include('includes/navbar'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">WIP</h1>
      <p class="text-center lead">We'll keep you updated on new releases</p>
      <main class="container">
        <%- include('includes/messages'); %>
        <div class="box">
          <h4 class="display-4 text-left align-items-center">
            Your events
            <a href="/events/create/" class="text-reset">
              <i class="bi bi-calendar-plus-fill" style="font-size: 1.5rem;"></i>
            </a>
          </h4>
          <ul>
            <li><a href="#">Drink night - Oct. 20 2022</a></li>
          </ul>
        </div>
        <div class="box">
          <h4 class="display-4 text-left">Invited events</h4>
          <ul>
            <li><a href="#">Josi's Birthday - Sep. 23 2022</a></li>
            <li><a href="#">Nanda's Graduation - Jan. 21 2023</a></li>
          </ul>
        </div>
      </main>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>